* {
    margin: 0;
    padding: 0;
}
body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}
a{
    text-decoration: none;
}
/*
    ---------------------头部样式-----------------------------------
*/
.site-topbar {
    background-color: #333333;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
}
.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.site-topbar .topbar-nav {
    float: left;
}
.site-topbar .topbar-cart {
    float: right;
    width: 120px;
    height: 40px;
    margin-left: 15px;
    font-size: 12px;
}
.site-topbar .cart-mini {
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #b0b0b0;
    background-color: #424242;
}
.site-topbar .cart-mini:hover {
    color: darkorange;
    background-color: #fff;
}
.icon-cart:before {
    content: "\e63b";
    font-family: "iconfont";
    /*font-size: 20px;*/
    /*position: absolute;*/
    /*left: 5px;*/
}
.site-topbar .cart-mini em {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -2px;
}
.site-topbar .topbar-info {
    float: right;
    text-align: center;
}
.topbar-info a {
    padding: 0 1px;
}
.site-topbar .sep{
    margin: 0 .3em;
    color: #424242;
}
.topbar-info .sep {
    margin: 0;
}
.site-topbar .message a{
    padding: 0 8px;
}
.site-topbar a {
    color: #b0b0b0;
    line-height: 40px;
    /*把链接也转成块级元素*/
    display: inline-block;
}
.site-topbar a:hover{
    color: white;
}
.site-header {
    height: 100px;
}

.site-header .header-log {
    float: left;
    width: 62px;
    margin-top: 22px;
}
.site-header .logo {
    float: left;
    display: block;
    height: 55px;
    width: 55px;
    background-color: #ff7600;
    position: relative;
    /*隐藏a标签文字*/
    text-align: left;
    text-indent: -9999em;
}
.site-header .logo::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    z-index: 1;
    content: "";
    transform-origin: 50% 50%;
    background: url("../image/ia_100000624.png") no-repeat 50% 50%;
}
.site-header .header-nav{
    float: left;
    width: 850px;
}
.site-header .nav-list {
    width: 1100px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    font-size: 16px;
    list-style-type: none;

}
.site-header .nav-list a:hover{
    color: #ff7600;
}
.site-header .nav-category {
    width: 127px;
    margin-right: 15px;
    float: left;
}
.nav-category a {
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333333;
}
.site-header .nav-itme {
    float: left;
}
.site-header .nav-itme a {
    display: block;
    padding: 26px 10px 38px;
    color: #333333;
}
.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}
.site-header .search-form{
    width: 296px;
    height: 50px;
    display: block;
    position: relative;
}
.site-header .no-style-msq{
    color: #333;
}
.site-header .search-text, .site-header .search-btn {
    position: absolute;
    top:0;
    border: 1px solid #e0e0e0;
    outline: 0;
}
.site-header .search-text {
    margin: 0;
    right: 51px;
    width: 223px;
    height: 48px;
    line-height: 48px;
    z-index: 1;
    padding: 0 10px;
}
.site-header .search-text:focus {
    border-color: #ff7600;
}
.site-header .search-btn {
    right: 0;
    width: 51px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    background-color: #fff;
    color: #616161;
    float: right;
}
.site-header .search-btn:hover {
    background-color: #ff7600;
    color: #fff;
    border-color: #ff7600;
}
/*
    ----------------------轮播图区域样式---------------------------------
*/
/*
    ----------------------商品相关区域样式-------------------------------
*/
/*
    ----------------------底部样式--------------------------------------
*/