* {
    margin: 0;
    padding: 0;
}
body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}
a{
    text-decoration: none;
}
/*
    ---------------------头部样式-----------------------------------
*/
.site-topbar {
    background-color: #333333;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
}
.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.site-topbar .topbar-nav {
    float: left;
}
.site-topbar .topbar-cart {
    float: right;
    width: 120px;
    height: 40px;
    margin-left: 15px;

}
.site-topbar .cart-mini {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    display: block;
    color: #b0b0b0;
    background-color: #424242;
}
.site-topbar .cart-mini:hover {
    color: darkorange;
    background-color: #fff;
}
.cart-mini:before {
    content: "\E60C";
}
.site-topbar .topbar-info {
    float: right;
    text-align: center;
}
.topbar-info a {
    padding: 0 1px;
}
.site-topbar .sep{
    margin: 0 .3em;
    color: #424242;
}
.topbar-info .sep {
    margin: 0;
}
.site-topbar .message a{
    padding: 0 8px;
}
.site-topbar a {
    color: #b0b0b0;
    line-height: 40px;
    /*把链接也转成块级元素*/
    display: inline-block;
}
.site-topbar a:hover{
    color: white;
}
.site-header {
    height: 100px;
}

.site-header .header-log {
    width: 62px;
    margin-top: 22px;
}
.site-header .logo:before {
    background: url("../image/ia_100000624.png") no-repeat 50% 50%;
    opacity: 1;
}
/*
    ----------------------轮播图区域样式---------------------------------
*/
/*
    ----------------------商品相关区域样式-------------------------------
*/
/*
    ----------------------底部样式--------------------------------------
*/